@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

html {
  font-size: 10px;
  tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  font-weight: 400;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  background-color: rgb(23, 23, 75);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header,
main,
footer {
  display: block;
  position: relative;
  z-index: 1;
}
header {
  padding: 48px;
}
@media (max-width: 440px) {
  header {
    padding: 48px 24px;
  }
}
header > h3 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}
header > h4 {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

main {
  flex: 1;
  padding: 0 48px;
}
@media (max-width: 440px) {
  main {
    padding: 0 24px;
  }
}

footer {
  width: 100%;
  background-color: #50c5ff;
  padding: 16px;
  align-self: center;
  text-align: center;
  margin-top: 32px;
}
footer a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

form {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  color: rgba(226, 227, 232, 0.75);
  line-height: 1.5em;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1.0em;
}

small {
  display: none;
  color: coral;
}
input[name="user_name"] + small {
  display: block;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  display: block;
  color: #e2e3e8;
  font-size: 16px;
  width: 100%;
  background-color: rgba(100,100,100,0.1);
  border: none;
  border-bottom: 1px solid grey;
  padding: 8px;
  appearance: none;
  outline: none;
}
input:required {
  box-shadow: none;
}
input:valid {
  box-shadow: green;
}
input:invalid {
  box-shadow: red;
}
input:focus {
  background: rgba(100,100,100,0.5);
}
li i {
  font-size: 12px;
  color: #50c5ff;
}

.flex-parent {
  display: flex;
}

p {
    padding-right: 1.5em;
}

fieldset {
  display: flex;
  align-items: center;
  padding-top: 6px;
}
legend {
  flex: 1 1 auto;
  text-align: left;
}
fieldset legend label {
  display: inline-block;
  vertical-align: middle;
}
fieldset li {
  flex: 3 1 auto;
  text-align: center;
  margin: 0;
}
fieldset li label,
fieldset li input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
}

textarea {
  background: transparent;
  color: #e2e3e8;
  width: 100%;
  height: 80px;
  padding: 0.5em;
}

button {
  background: transparent;
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 8px 48px;
  margin-top: 32px;
  border: 2px solid #075bb4;
  border-radius: 20px;
  cursor: pointer;
  transition: all ease 0.2s;
}
button:hover {
  background-color: #50c5ff;
  border: 2px solid black;
}

.wave {
  position: absolute;
  top: 0;
  left: 50%;
  width: 800px;
  height: 800px;
  margin-top: -600px;
  margin-left: -400px;
  background: #50c5ff;
  border-radius: 45%;
  animation: shift 30s infinite linear;
  z-index: 0;
}

@keyframes shift {
  from {
    transform: rotate(360deg);
  }
}
