/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.container {
  width: 600px;
  margin: 100px auto 0;
}

#color-blocks {
    display: flex;
    flex-flow: row wrap;
}

.color {
  width: 150px;
  height: 150px;
  margin: 1.0em;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  background-color: black;
  color: white;
}
.color:active {
  transform: scale(1.1);
}

button {
  color: black;
  background-color: gold;
  padding: 0.5em 1.0em;
  border-radius: 12px;
  font-size: 18px;
  display: block;
  margin: 20px auto;
}
button:hover {
  background-color: goldenrod;
}
button:active {
  background-color: gold;
}
[hidden] { display: none !important; }